NODE_ENV=development
PORT=8000

// update these fields with project specific database info
MIGRATION_DB_HOST=localhost
MIGRATION_DB_PORT=5432
MIGRATION_DB_NAME=<update-with-database-name>
MIGRATION_DB_USER=<db-user>
DEV_DB_URL="postgresql://<db-user>@localhost/<dev-db-name>"
TEST_DB_URL="postgres://<db-user>@localhost/<test-db-name>"

PROD_MIGRATION_DB_HOST=<host-name>
PROD_MIGRATION_DB_PORT=<port>
PROD_MIGRATION_DB_NAME=<db-name>
PROD_MIGRATION_DB_USER=<db-user>
PROD_MIGRATION_DB_PASS=<db-password>